body {
  color: #314d3e;
}

.container {
  height: 300px;
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 700;
}

.clock {
  margin-top: 15px;
  background-color: #ff5757;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-body {
  position: relative;
  background-color: #d9d9d9;
  height: 135px;
  width: 135px;
  border-radius: 100%;
}

.clock-body__hour-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left;
  transform: translate(0%, -50%) rotate(270deg);
  height: 5px;
  width: 30px;
  border-radius: 10px;
  background-color: #314d3e;
}

.clock-body__minute-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left;
  transform: translate(0%, -50%) rotate(90deg);
  height: 2px;
  width: 55px;
  border-radius: 10px;
  background-color: red;
}

.clock-body__center {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #ff5757;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock-body__time {
  border: 1px dashed black;
  padding: 1px 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  letter-spacing: 1px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #202020;
}

.time-input-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-input-section__input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
}

.time-input-section__button {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #ff5757;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202020;
    color: white;
  }
}
